<div class= "container">
    <h1>10 Most Common Health Problems For Dogs</h1>
    
    <h2>1. Skin Issues</h2>
    <p>Many dogs experience a variety of skin issues. Itching and scratching are typical signs of skin issues in dogs. The skin may appear red, inflamed, flaky, scaly or otherwise
    abnormal. They may also lose patches of hair. There are several reasons a dog may develop skin problems, including allergies, parasites, skin infections, and more. If your dog 
    is constantly scratching or chewing, or if the skin appears abnormal, see your vet before your dog becomes downright miserable.</p>
    
    <h2>2. Ear Infections</h2>
    <p>Ear infections often cause dogs to shake their heads and scratch their ears. Often, there is ear discharge or debris and the ears can have a bad odor. Ear infections may be itchy
    or even painful. When left untreated, they can cause serious damage. If your dog is exhibiting signs of an ear infection for more than a day or two, go to your vet. Ear infections
    sometimes accompany skin issues. In addition, they may be related to allergies.</p>
    
    <h2>3. Urinary Tract Infection</h2>
    <p>Urinary issues are common in dogs. It's so frustrating to deal with a dog who is peeing in the house. Many owners chalk it up to behavioral issues or lack of training. However,
    your dog may have a urinary tract infection, especially if they are puppies, or have other underlying medical conditions. Signs of UTI include inappropriate urination, frequent
    urination, increased thirst, bloody urine, and lethargy. These symptoms can also be associated with other medical conditions, such as kidney disease and diabetes, so if this
    sounds familiar, bring your dog to the vet so the urine can be checked.</p>
    
    <h2>4. Vomiting</h2>
    <p>There are so many reasons a dog can develop vomiting. While you don't need to rush to the vet every time your dog throws up, it's also not something to ignore. Vomiting can be a
    sign of toxicity, gastrointestinal blockage or other serious diseases. The cause can also be as simple as a dietary indiscretion. Don't try to guess; if your dog keeps vomiting, or
    has other symptoms such as diarrhea, inappetance, or weakness, you should get your vet involved.</p>
    
    <h2>5. Diarrhea</h2>
    <p>Diarrhea may accompany vomiting or simply occur on its own. The potential causes of diarrhea are similar to those of vomiting. While one or two episodes of diarrhea is no 
    emergency, ongoing diarrhea can lead to dehydration. See your vet if diarrhea persists, or if it accompanies vomiting and/or lethargy.</p>
    
    <h2>6. Parasites</h2>
    <p>Parasites are everywhere in your dog's world. They may be external parasites, like fleas and ticks, or internal parasites like heartworms and intestinal worms. Fortunately,
    there ways to prevent parasites from attacking your dog, usually with monthly preventive treatments. Educate yourself about canine parasites so you can protect your dog.</p>
    
    <h2>7. Dental Disease</h2>
    <p>Dental disease (in particular, periodontal disease, a disease of the gums and tooth attachments), is a serious and often overlooked health concern for dogs. Bad breath is not
    normal in dogs and can be a sign of dental disease. Plaque and tartar in your dog's mouth harbor dangerous bacteria, causing damage to the teeth and gums.
    
    Even worse, the bacteria can enter the bloodstream, leading to other serious issues in the body, such as heart disease and kidney failure. The key to protecting your dog is 
    prevention.</p>
    
    <h2>8. Obesity</h2>
    <p>Obesity is one of the fastest growing health problems seen in dogs. It's also one of the most preventable. Obesity can lead to serious health issues like diabetes, heart
    disease, and orthopedic problems. Fortunately, obesity can be prevented (and can usually be reversed) through proper diet and exercise.</p> 
    
    <h2>9. Arthritis </h2>
    <p>Arthritis is defined as inflammation of a joint or multiple joints in the body. In dogs, the most common form of arthritis is osteoarthritis, also called Degenerative Joint
    Disease. Osteoarthritis most often occurs in seniors, though it may also be an effect of old injuries or congenital disorders like hip dysplasia. The good news is that it can
    typically be managed. If you suspect your dog has osteoarthritis, talk to your vet about the options.</p>
    
    <h2>10.Toxicity/Poisoning  </h2>
    <p>Dogs are curious and often food-driven. So, it comes as no surprise that they are susceptible to poisoning or toxicity. Toxins come in many forms and are often (but not always)
    ingested. Plants, medications, household items, and even some foods can poison your dog. Find out what dangers may exist in your dog's environment.</p>

</div>