<div class= "container">
    <h1>Reviews:</h1>
    
    
    <h2>Rabbitgoo No Pull Dog Harness</h2>
    <%= image_tag("review.jpg", width: '400px')%>
    <%= image_tag("size_chart.jpg", width: '400px')%>
    <p>Review by F. Kavanagh</p>
    <p>I bought this for our two strong lurchers to try help with their pulling. Due to an illness I find their sudden pulling painful if they see a cat/want to run over to another
    dog, so after seeing many possitive reviews I decided to try out their very inexpensive(€22 euro each) harness. Well to say they are a game changer is an understatement, the lead 
    clipping onto their chestmeans that its very difficult for them to pull and when they do they just end up turning themselves around. Its helped them to walk much better on the 
    leash and has helped save my arms and back a lot of pain. They barely pull anymore and we have so much more control. The Rabbitgoo harness have totally changed how our dogs walk.
    We are not worried about falling anymore because there is no more struggling to control the dogs. We saw a change immediately. I would recommend these harnesses to anyone
    wanting to end the constant pulling</p>

</div>